.features-section {
	margin-top: 120px;
	padding-inline: 28px;
}
.features-section h2,
.features-section h3 {
	text-align: center;
}
.feature-grid-content {
	display: grid;
	grid-template-columns: 1fr;
}
.features-wrapper {
	display: grid;
	grid-template-columns: 1fr;
}
.features-img-wrapper {
	height: 300px;
}
.features-img-wrapper img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.features-content {
	background-color: var(--color-bg);
	padding: 36px;
	min-height: 300px;
	border: 2px solid var(--color-primary);
}
.features-content h4 {
	margin-bottom: 26px;
}
.features-content p {
	margin-bottom: 32px;
}
.features-content button {
	padding: 12px 14px;
	color: var(--color-primary);
	background-color: var(--color-secondary-button-bg-mb);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

@media (width >= 768px) {
	.features-section {
		max-width: 1170px;
		margin: 180px auto;
	}
	.features-wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.features-wrapper:nth-child(2) .features-content,
	.features-wrapper:nth-child(4) .features-content {
		order: 1;
	}
	.features-wrapper:nth-child(2) .features-img-wrapper,
	.features-wrapper:nth-child(4) .features-img-wrapper {
		order: 2;
	}
}
@media (width >= 1024px) {
	.feature-grid-content,
	.features-wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.features-wrapper:nth-child(2) .features-content {
		order: 2;
	}
	.features-wrapper:nth-child(3) .features-content,
	.features-wrapper:nth-child(4) .features-content {
		order: 1;
	}
	.features-wrapper:nth-child(3) .features-img-wrapper,
	.features-wrapper:nth-child(4) .features-img-wrapper {
		order: 2;
	}
}
