.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 28px;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.navbar::after{
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1440px;
  transform: translateX(-50%);
  height: 400px;
  background-color: var(--color-bg);
  z-index: -1;
}
.logo {
	font-size: 32px;
	font-weight: 500;
	color: var(--color-primary);
}
.logo img:hover {
	transform: scale(1.05);
}
.nav-links {
	position: fixed;
	top: 80px;
	left: -100%;
	width: 100%;
	height: calc(100vh - 80px);
	background-color: var(--color-bg);
	flex-direction: column;
	align-items: start;
	padding: 2rem 0;
	transition: left 0.3s ease;
	z-index: 100;
}
.nav-links.active {
	left: 0;
}
.nav-links ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	padding-inline: 28px;
}
.nav-links li {
	width: 100%;
	padding: 0.8rem 0;
}
.nav-links a {
	text-decoration: none;
	color: var(--color-text);
	font-size: 16px;
	position: relative;
	transition: color 0.3s ease;
}
.nav-links li:nth-child(1) a{
  color: var(--color-primary);
}
.nav-links li:nth-child(1) a::after {
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	background-color: var(--color-primary);
	border-radius: 50%;
	transition: width 0.3s ease;
}

@media (width >= 768px) {
	.nav-links {
		position: static;
		height: auto;
		width: auto;
		padding: 0;
	}
	.nav-links ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 36px;
		width: auto;
		padding-inline: auto;
	}
	.nav-links li {
		width: auto;
	}
	.nav-links a {
		text-decoration: none;
		color: var(--color-text);
		font-size: 16px;
		position: relative;
		transition: color 0.3s ease;
	}
  .nav-links li:nth-child(1) a{
    position: relative;
    color: var(--color-primary);
  }
	.nav-links li:nth-child(1) a::after {
		content: "";
		position: absolute;
		width: 6px;
		height: 6px;
		bottom: -10px;
    top: auto;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--color-primary);
		transition: width 0.3s ease;
	}
	.mobile-menu {
		display: none;
		cursor: pointer;
	}
	.mobile-menu img {
		height: 40px;
		width: auto;
	}
}
