.service-section{
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-inline: 28px;
  row-gap: 90px;
  position: relative;
  margin-block: 60px;
  /* border-top: 2px solid rgb(112, 112, 112, .15);
  border-bottom: 2px solid rgb(112, 112, 112, .15); */
}
.service-section::after,
.service-section::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: calc(100% - 28px);
  background-color: rgb(112, 112, 112, .15);
}
.service-section::after{
  top: 0;
}
.service-section::before{
  bottom: 0;
}
.service-section .wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.feature-img-wrapper{
  width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg);
	border-radius: 12px;
}
.feature-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feature-content h2{
  color: var(--color-text);
}
.feature-content p{
  color: var(--color-hero-p-text);
}

@media (width >= 768px){
  .service-section .wrapper{
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
@media (width >= 1024px){
  .service-section{
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}