.star-section{
  padding-inline: 28px;
  display: grid;
  grid-template-columns: 1fr;
  order: 1;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.star-img-wrapper{
  width: 100%;
  background-color: var(--color-secondary-bg);
  padding-inline: 24px;
  margin-bottom: 56px;
  order: 1;
}
.star-img-wrapper img{
  width: 100%;
  position: relative;
  top: -24px;
  max-width: 445px;
  object-fit: cover;
}
.star-content{
  position: relative;
  order: 2;
}
.star-content::before{
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: 174px;
  height: 174px;
  background-image: url("../assets/image/polcadot.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.star-content h2, .star-content h3{
  text-align: center;
}
.number-counter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.number-counter div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.star-content button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  color: white;
  background-color: var(--color-primary);
  margin-top: 50px;
}


@media (width >= 768px){
  .star-section{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 80px;
    margin-top: 180px;
  }
  .star-img-wrapper{
    background-color: var(--color-image-bg);
    height: 600px;
    margin-bottom: 0px;
    position: relative;
    order: 2;
  }
  .star-img-wrapper img{
    position: absolute;
    top: 0;
    height: calc(100% - 90px);
    right: 0;
    left: auto;
  }
  .star-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }
  .star-content::before{
    top: 120px;
    left: -60px;
  }
  .star-content h2, .star-content h3{
    text-align: left;
  }
  .number-counter{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 0;
  }
  .star-content button{
    width: 320px;
  }
}