@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Utility */
@import url("./utils.css");
/* Navbar */
@import url("./navbar.css");
/* Hero Section */
@import url("./hero-section.css");
/* Service Section */
@import url("./service-section.css");
/* Benefit Section */
@import url("./benefit-section.css");
/* Stars Section */
@import url("./star-section.css");
/* Features Section */
@import url("./features-section.css");
/* Products Section */
@import url("./products-section.css");
/* Call to action Section */
@import url("./cta-section.css");
/* Footer Section */
@import url("./footer-section.css");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Inter", sans-serif;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}


:root {
	--color-bg: #f3fcf7;
	--color-primary: #06c167;
	--color-polcadot: #f7f7f7;
	--color-text: #1d1d1f;
	--color-text-muted: #1d1d1fa6;
	--color-text-white: #ffffff;
	--color-border: #707070;
	--color-sale-price: #767675;
	--color-secondary-bg: #f0f1ec;
	--color-product-card-border: rgb(117, 117, 117, 0.25);
	--color-secondary-button-bg: #e6f9f0;
	--color-secondary-button-bg-mb: #f0ede2;
	--color-cta-dark-bg: rgb(2, 2, 2, 0.59);
	--color-image-bg: #f3fafb;
	--color-hero-p-text: rgb(29, 29, 31, 0.75);
}
