.bg-primary{
	background-color: var(--color-primary);
}
.text-primary{
	color: var(--color-primary);
}
.bg-white{
	background-color: white;
}
.text-white{
	color: white;
}
.text-text{
	color: var(--color-text);
}
.text-text-muted{
	color: var(--color-text-muted);
}

.font-xs{
	font-size: 14px;
}
.font-sm{
	font-size: 15px;
}
.font-base{
	font-size: 16px;
}
.font-md{
	font-size: 18px;
}
.font-lg{
	font-size: 20px;
}
.font-xl{
	font-size: 24px;
}
.font-2xl{
	font-size: 32px;
}
.font-3xl{
	font-size: 35px;
}
.font-4xl{
	font-size: 51px;
}
.font-40{
	font-size: 40px;
}
.font-regular{
	font-weight: 400;
}
.font-medium{
	font-weight: 500;
}
.font-semibold{
	font-weight: 600;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.p-28{
	padding-top: 28px;
	padding-bottom: 28px;
	padding-left: 28px;
	padding-right: 28px;
}
.w-full{
	width: 100%;
}
.size-40{
	width: 40px;
	height: 40px;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1{
	flex: 1;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.grid {
  display: grid;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.gap-10{
	gap: 10px;
}
.gap-15{
	gap: 15px;
}
.gap-30{
	gap: 30px;
}
.gap-32{
	gap: 32px;
}
.order-1{
	order: 1;
}
.order-2{
	order: 2;
}
.mb-32{
	margin-bottom: 32px;
}
.mb-48{
	margin-bottom: 48px;
}
.py-24{
	padding-top: 24px;
	padding-bottom: 24px;
}
.p-18{
	padding: 18px;
}
.pl-10{
	padding-left: 10px;
}
.mt-44{
	margin-top: 44px;
}
.ml-55{
	margin-left: 55px;
}
.mb-50{
	margin-bottom: 50px;
}
.radius-100{
	border-radius: 100px;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.inline-flex{
	display: inline-flex;
}
.overflow-hidden{
	overflow: hidden;
}
@media (width >= 768px){
	.font-3xl{
		font-size: 60px;
	}
	.font-4xl{
		font-size: 75px;
	}
}